:root {
    /* body at least fullscreen height */
    height: 100vh;
    /* Layout variables*/
    --mobile-width: 375px;
    --desktop-width: 1440px;
    /*color variables*/
    --page-background: hsl(185, 75%, 39%);
    --font-first: hsl(229, 23%, 23%);
    --font-second: hsl(227, 10%, 46%);
    --font-third: hsl(0, 0%, 59%);
    /*font smothing to macosx*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    line-height: 1.2;
    /* body at least fullscreen height */
    min-height: 100%;
    margin: 0;
    /*center the card on page*/
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /****padding to mobile*/
    padding: 0 25px;
    background: url('./images/bg-pattern-top.svg') no-repeat,url('images/bg-pattern-bottom.svg') no-repeat,var(--page-background);
    background-position:right 50vw bottom 50vh ,left 50vw top 50vh ;
}

img {
    display: block;
}

h3 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* styles to card */

.card-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /*to prevent  card from fill grow carzy in desktop*/
    max-width: 23rem;
    width: 100%;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
    padding-top: 5.2rem;
    background: #fff  url('./images/bg-pattern-card.svg') repeat-x;
    border-radius: 15px;
}

.card-container>* {
    width: 100%;

}

.card-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
}

.card-info div:not(:last-child) {
    margin-bottom: 0.8rem;

}

.card-avatar {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.card-avatar img {
    border-radius: 50%;
    border: 5px solid #fff;
}

.card-person-name {
    margin-right: 10px;

}

.card-person-location {
    flex-basis: 100%;
}

.card-statistic {
    display: flex;
    padding: 1.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    align-items: center;
}

.card-statistic li {

    display: flex;
    flex-flow: column;
    text-align: center;
}
.card-statistic h3,.card-person-location,.card-person-age{
    font-size: 1rem;
    color: var(--font-third);
    font-weight: 400;
}

.card-statistic span,.card-person-name{
    font-size:1.125rem;
    color:var(--font-first);
    font-weight:800;
}

.card-statistic h3{
    order: 2;
}